<?xml version='1.0' encoding='utf-8'?>
<widget id="com.techpowersolutions.memorama" version="4.3">
  <name>Memorama</name>
  <description>Fork Memorama, API 32.</description>
  <author email="memoramautna@gmail.com">
    Techpower Solutions ©
  </author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />

<platform name="android">

<!-- Adaptive icon with colors -->
<resource-file src="res/values/colors.xml" target="/app/src/main/res/values/colors.xml" />
<icon background="@color/background" density="ldpi" foreground="res/icon/android/mipmap-ldpi/ic_launcher.png" />
  <icon background="@color/background" density="mdpi" foreground="res/icon/android/mipmap-mdpi/ic_launcher_foreground.png" />
  <icon background="@color/background" density="hdpi" foreground="res/icon/android/mipmap-hdpi/ic_launcher_foreground.png" />
  <icon background="@color/background" density="xhdpi" foreground="res/icon/android/mipmap-xhdpi/ic_launcher_foreground.png" />
  <icon background="@color/background" density="xxhdpi" foreground="res/icon/android/mipmap-xxhdpi/ic_launcher_foreground.png" />
  <icon background="@color/background" density="xxxhdpi" foreground="res/icon/android/mipmap-xxxhdpi/ic_launcher_foreground.png" />

<!-- Splashscreen -->
  <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon/android/mipmap-xxxhdpi/ic_launcher_foreground.png" />
  <preference name="AndroidWindowSplashScreenBackground" value="#2d0450" />
  <preference name="SplashScreenDelay" value="2000" />
  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="FadeSplashScreen" value="true"/>

</platform>
</widget>
